- if current_user.parent_groups.present?
  .row
    .col-md-9
      .group-title
        %h1.home-title.dash
          = link_to t(:home), dashboard_path
      .row
        .col-md-9.main-content
          =render 'discussions/discussion_list'

    %section.col-md-3
      #group-actions
        .clearfix
          = icon_button(href: new_discussion_path, text: t(:start_a_discussion), icon: '/assets/topic-18.png', id: 'start-new-discussion', class: 'btn-grey')
      =render 'groups'
      .sub-panel.previous-discussions-panel
        %h4= t(:previous_decisions)
        = link_to t(:see_previous_decisions), motions_path, class: 'bottom-panel-link'
- else
  %h1= t(:no_group_header)
  %span Gå till <i>Tips & Stöd</i> för att lära dig mer om almedalens goda samtal, eller klicka på <i>Hitta en kategori</i> för att delta direkt!
  .no-groups.row
    .col-md-3.actions
      .action-button= link_to "Tips & Stöd", tips_path, class: 'btn btn-default btn-lg btn-info btn-block'
    .col-md-3.actions
      .action-button= link_to "Hitta en kategori", explore_path, class: 'btn btn-default btn-lg btn-info btn-block'
