!!!
%html{locale: current_locale}
  %head
    %meta{content: "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    %title Loomio | #{t(:'frontpage.title.collaborative_decision_making')}
    :javascript
      if (document.cookie.indexOf("signed_in") >= 0) {window.location.replace("#{dashboard_path}");}
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag  "marketing"
    = csrf_meta_tags
    = render 'social_metadata'

  %body{class: "#{controller_name} #{action_name}"}
    - analytics_scope do
      = render 'google_tag_manager'
    -#= render 'flash_messages'

    .container-fluid
      .row.product
        .content
          %div.big
            #godasamtalet
            %h1 
              Almedalens goda samtal 
            %h2
              Samhällets kärna är samarbete.
              %br
              Välkommen till Almedalsveckans goda samtal på nätet!
            %a{href: '/users/sign_in', class: "btn btn-info btn-large"} 
              Logga in 
            %a{href: '/users/sign_up', class: "btn btn-info btn-large"} 
              Registrera dig

  = javascript_include_tag "marketing"